    <div class="main container">
        <h1><?- specific.titlePage ?></h1>

        <form @submit.prevent="validateBeforeSubmit" v-if="!formSubmitted">
            
            <p>Nom de la plante <strong>{{ nom_plante }}</strong></p>
            <p id="id_plante">ID de la plante <strong>{{ id_plante }}</strong></p>
            
            <fieldset><legend>Généralités</legend>
                <p class="control has-icon has-icon-right"> 
                    <label class="control-label">Nom de la variété</label>
                    <input name="nom_variete" data-vv-as="Le nom de la variété" v-model="nom_variete" v-validate:nom_variete.initial="'required|min:3|max:50'" :class="{'input': true, 'is-danger': errors.has('nom_variete') }" type="text" placeholder="Nom Commun">
                    <i v-show="errors.has('nom_variete')" class="fa fa-warning"></i>
                    <span v-show="errors.has('nom_variete')" class="alert alert-danger">{{ errors.first('nom_variete') }}</span> 
                </p>

                <p class="control has-icon has-icon-right"> 
                    <label class="control-label">Description de la variété</label><br>
                    <textarea rows="10" cols="80" name="description" data-vv-as="La description" v-model="description" v-validate:description.initial="'required|min:3|max:200'" :class="{'input': true, 'is-danger': errors.has('description') }" type="text" placeholder="Votre description de la plante"></textarea>
                    <i v-show="errors.has('description')" class="fa fa-warning"></i>
                    <span v-show="errors.has('description')" class="alert alert-danger">{{ errors.first('description') }}</span>
                </p>
            </fieldset>
            
            <fieldset><legend>Graines</legend>
                <p class="control has-icon has-icon-right">
                    <label class="control-label">Durée de vie en année</label>
                    <input data-vv-as="Le nombre d'années" v-validate:duree_vie.initial="'required|decimal'" :class="{'input': true, 'is-danger': errors.has('duree_vie') }" type="number" name="duree_vie" min="1" max="100" v-model="duree_vie">
                    <i v-show="errors.has('duree_vie')" class="fa fa-warning"></i>
                    <span v-show="errors.has('duree_vie')" class="alert alert-danger">{{ errors.first('duree_vie') }}</span>
                </p>
                
                <p class="control has-icon has-icon-right">
                    <label class="control-label">PMG (Poids de Mille Grains) en grammes</label>
                    <input data-vv-as="Le PMG" v-validate:pmg.initial="'required|decimal'" :class="{'input': true, 'is-danger': errors.has('pmg') }" type="number" name="pmg" min="1" max="1000" v-model="pmg">
                    <i v-show="errors.has('pmg')" class="fa fa-warning"></i>
                    <span v-show="errors.has('pmg')" class="alert alert-danger">{{ errors.first('pmg') }}</span>
                </p>
            </fieldset>
            
            <fieldset><legend>Semi</legend>
            
                
            
            </fieldset>
            
            
            <br>
            <button class="btn btn-primary btn-block" type="submit">Ajout de la variété</button>
        </form>
        <div v-else>
        <span class="alert alert-success">Variété ajouté avec succès !</span>
        <button class="btn btn-primary btn-block" v-on:click="addNewPlante">Ajouter une nouvelle variété</button>
        </div>		
    </div>