<!DOCTYPE html> 
<html lang="fr-fr">
    <head>
        <meta charset="utf-8" />
        <base href="<?= urlBasePath ?>/">
        <title><?- specific.titlePage ?></title>
        <link type="text/css" rel="stylesheet" href="stylesheets/<?= common.classCssCommon ?>.css" media="all" />
        <link type="text/css" rel="stylesheet" href="stylesheets/<?= specific.classPage ?>.css" media="all" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body class="<?= specific.classPage ?>">
        <div class="layout">
            <div class="title"><h1><?- common.titleWebsite ?></h1></div>
            <nav>
                <ul class="nav nav-pills">
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="catalogue/ ?>">Catalogue</a></li>
                    <li><a href="rotation/ ?>">Rotation</a></li>
                    <li><a href="association/ ?>">Association</a></li>
                </ul>
            </nav>
            <div class="main"></div>
        </div>
        <!-- jQuery -->
        <script src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
        <!-- jQuery Validate Plugin -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js'></script>
        <!-- jQuery Validation Unobstrusive Plugin -->
        <script src='https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js'></script><!-- jQuery Validate Plugin -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js'></script>
        <!-- jQuery Validation Unobstrusive Plugin -->
        <script src='https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js'></script>
        <script type="text/javascript" src="socket.io/socket.io.js"></script>
        <script type="text/javascript" src="node-atlas/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-beta.22/vee-validate.min.js"></script>
        <script src="javascript/fr.js"></script>
        <script src="view-model/<?= specific.classPage ?>.js"></script>
        <script async type="text/javascript" src="javascript/<?= common.classJsCommon ?>.js"></script>
        <script async type="text/javascript" src="javascript/<?= specific.classPage ?>.js"></script>
    </body>
</html>