    <div class="main container">
        <h1><?- specific.titlePage ?></h1>
        <?- specific.content ?>

        
        <p><button class="btn btn-warning" v-on:click="changeEdit" v-bind:style="styleObjectEdit">Modifier</button><button class="btn btn-danger" id="save" v-on:click="validateBeforeSave" v-bind:style="styleObjectOk">Sauvegarder</button></p>
        
        <template v-if="edit === true">
            <ul class="list-group">
                <li class="list-group-item active">Généralités</li>
                <li class="list-group-item" id="id_variete" name="id_variete">ID: <strong>{{ id_variete }}</strong></li>
                
                <p class="list-group-item control has-icon has-icon-right"> 
                    <label class="control-label">Nom de la variété</label>
                        <input name="nom_variete" v-model="nom_variete" v-validate:nom_variete.initial="'required|min:3|max:50'" :class="{'input': true, 'is-danger': errors.has('nom_variete') }" type="text">
                        <i v-show="errors.has('nom_variete')" class="fa fa-warning"></i>
                        <span v-show="errors.has('nom_variete')" class="alert alert-danger">{{ errors.first('nom_variete') }}</span>
                </p>
                
                <p class="list-group-item control has-icon has-icon-right"> 
                    <label class="control-label">Description</label>
                        <input name="description" v-model="description" v-validate:description.initial="'required|min:3|max:200'" :class="{'input': true, 'is-danger': errors.has('description') }" type="text">
                        <i v-show="errors.has('description')" class="fa fa-warning"></i>
                        <span v-show="errors.has('description')" class="alert alert-danger">{{ errors.first('description') }}</span>
                </p>
            </ul>
        </template>
            <template v-else>
                <div class = "panel panel-primary">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">Généralités</h3>
                    </div>
                    <div class = "panel-body">
                        <p id="id_variete" name="id_variete">ID : <strong>{{ id_variete }}</strong></p>
                        <p><strong>Nom de la variété : </strong>{{ nom_variete }}</p>
                        <p><strong>Description : </strong>{{ description }}</p>
                    </div>
                </div>
                
            </template>
        
	#<?- variete.id_variete() ?> Variété <?- variete.nom_variete() ?> 
        
            <fieldset><legend>Description</legend>
                <?- variete.description() ?>  
            </fieldset>
        
            <fieldset><legend>Graines</legend>
                Durée de vie : <?- variete.graine_duree_vie() ?> <br>
                PMG : <?- variete.graine_pmg() ?> <br>
                Taux de germination : <?- variete.graine_taux_germination() ?> <br>
                Prix approximatif : <?- variete.graine_prix() ?> <br>
            </fieldset>
        
            <fieldset><legend>Semi</legend>
                Modalité : <?- variete.type_semi_description() ?> <br>
                Debut : <?- variete.debut_semi() ?> <br>
                Fin : <?- variete.fin_semi() ?> <br>
                Profondeur : <?- variete.fin_semi() ?> <br>
                Temperature Germination : <?- variete.temperature_germination() ?> <br>
                Temps de levée en jour : <?- variete.temps_levee_jour() ?> <br>
            </fieldset>

            <fieldset><legend>Densité</legend>
                Distance entre les rangs : <?- variete.distance_entre_rang() ?> <br>
                Distance sur le rang : <?- variete.distance_sur_rang() ?> <br>
            </fieldset>

            <fieldset><legend>Repiquage</legend>
                Début du repiquage : <?- variete.debut_repi() ?> <br>
                Fin du repiquage : <?- variete.fin_repi() ?> <br>
                Commentaire : <?- variete.repi_commentaire() ?> <br>
            </fieldset>

            <fieldset><legend>Récolte</legend>
                Début de la récolte : <?- variete.debut_recolte() ?> <br>
                Fin de la récolte : <?- variete.fin_recolte() ?> <br>
                Déroulement : <?- variete.recolte_deroulement() ?> <br>
                Commentaire : <?- variete.recolte_commentaire() ?> <br>
                Fréquence : <?- variete.recolte_frequence() ?> <br>
            </fieldset>

            <fieldset><legend>Abri</legend>
                Type : <?- variete.tunnel_type() ?> <br>
                Début : <?- variete.tunnel_debut() ?> <br>
                Fin : <?- variete.tunnel_fin() ?> <br>
            </fieldset>

            <fieldset><legend>Stockage</legend>
                Local : <?- variete.stockage_local() ?> <br>
                Durée de conservation : <?- variete.stockage_duree_conservation() ?> <br>
                Température : <?- variete.stockage_temperature() ?> <br>
                Aération : <?- variete.stockage_aeration() ?> <br>
                Hygrométrie : <?- variete.stockage_hygrometrie() ?> <br>
            </fieldset>
		
    </div>
